:root{
    --text-color:white;
    --btntext-color:#333;
    --blur-filter:blur(20px);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(/public/images/LoginandSignupbg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width: 420px;
    background: transparent ;
    border: 2px solid rgba(255, 255, 255, 0.341);
    backdrop-filter: var(--blur-filter);
    box-shadow:0 0 10px rgba(0, 0,0, -2);
    color: var(--text-color);
    border-radius:10px ;
    padding: 30px 40px;

}



.container h1{
    font-size: 36px;
    text-align: center;

}

.container .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.container .form-box.login{
    position: absolute;
    transform: translateY(400px);
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.422);
    border-radius: 40px;
    font-size: 16px;
    color: var(--text-color);
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder{
    color: var(--text-color);
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}

.container .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;


}

.remember-forgot label input{
    accent-color: var(--text-color);
    margin-right: 5px;

}

.remember-forgot a{
    color: var(--text-color);
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.container .btn {
    width: 100%;
    height: 45px;
    background-color:var(--text-color);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0,0, -1);
    cursor: pointer;
    font-size: 16px;
    color:var(--btntext-color) ;
    font-weight: 600;

}

.container .register-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 20px;
}

.register-link p a{
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

.btn:hover{
    background: transparent;
    backdrop-filter: var(--blur-filter);
    color: var(--text-color);
    border: 1px solid rgba(255, 255, 255, 0.422);
}


