/* Main CSS file for global styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap&family=Poppins:wght@300;400;500;600;700&display=swap&family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: black;
  padding: 20px;
}

/* Scrollbar */
::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background-color: #818c99;
  border-radius: 1in;
  cursor: pointer;
}